/* This file is for styling the inventory page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f0cf;
    font-family: Arial, Helvetica, sans-serif;
}

.inventoryContainer{
    width: 85%;
    margin: 60px auto;
}

.inventoryTitle{
    font-size: 50px;
    color: #313647;
    margin-bottom: 35px;
}

.inventoryGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.inventoryCard{
    background-color: #313647;
    color: #f6f0cf;
    padding: 25px;
    border-radius: 15px;
}

.inventoryCard h2{
    margin-bottom: 15px;
}

.inventoryButtons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.inventoryButtons button{
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ece5bf;
    color: #313647;
    font-weight: bold;
}